@page "/Customers"

<PageTitle>Customers</PageTitle>

<h1> Welcome to the Customer Center</h1>

<table class= "table">

  <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Active</th>
        <th>Manage</th>
    </tr>
  </thead>

  <tbody>
    @foreach (var item in _customers)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Active</td>
            <td></td>
        </tr>
    }


  </tbody>

</Table>