@page "/customerdetails"
@page "/customerdetails/{id}"

@if(Id != Guid.Empty)
{
    <PageTitle>Update</PageTitle>
    <h1>Update Customers</h1>
}
else
{
    <PageTitle>Create New</PageTitle>
    <h1>Create New Customers</h1>
}

<div class="row">
<EditForm Model="@customer" OnValidSubmit="@HandleValidRequest" OnInvalidSubmit="@HandleFailedRequest">
    <div class="form-group">
        <label class="col-md-3">First Name</label>
        <InputText class="col-md-8 form-control" @bind-Value="@customer.FirstName"></InputText>
    </div>
    <div class="form-group">
        <label class="col-md-3">Last Name</label>
        <InputText class="col-md-8 form-control" @bind-Value="@customer.LastName"></InputText>
    </div>
    <div class="form-group">
        <label class="col-md-3">Phone Number</label>
        <InputText class="col-md-8 form-control" @bind-Value="@customer.PhoneNumber"></InputText>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-warning">Save Customer</button>
        <a @onclick="@GoToCustomers" class="btn btn-primary">Back</a>
        <br />
        @if(Id != Guid.Empty)
        {
            <a @onclick="@DeleteCustomer" class="btn btn-danger">Delete Customer</a>
        }
    </div>
    <br />
    <p style="color: red">@Message</p>
</EditForm>

</div>